/pdb_protein_features.parquet
/merged_protein_dataset.parquet
/merged_protein_dataset_clean.parquet
/merged_protein_dataset_human_esm2.parquet
/pdb_folds_dataset.parquet
/pdb_protein_features_clean.parquet
