# Downloaded data
data/raw

# Nextflow runtime files
work/
.nextflow/
.nextflow.log*
.nextflow.history
timeline*.html
report*.html
trace*.txt
dag*.html

# Temporary files
*.tmp
*.part
*.download

# macOS
.DS_Store


.venv/

.dvc/config.local
**/__pycache__
