nextflow.enable.dsl = 2

params {
    outdir = "${launchDir}/data/raw"
    ids = null
    limit = 0
    chunk_size = 200
    max_forks = 6
    retries = 3
    curl_timeout = 120
    pdb_index_url = "https://files.wwpdb.org/pub/pdb/derived_data/index/entries.idx"
    mmcif_base_url = "https://files.wwpdb.org/pub/pdb/data/structures/divided/mmCIF"
}

process {
    executor = "local"
    cpus = 1
    maxRetries = 2
    errorStrategy = "retry"
}
